html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}


md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

/* Sidenav area */

md-list-item > button {
  width:100%;
  text-align:left !important;
}

  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }

.md-sidenav-left {
  width: 240px;
  background-image: url('images/content-bg-dark.png');
}
/* Primary content area */

#content {
  background-image: url('images/content-bg-white.png');
}
body md-toolbar:not(.md-menu-toolbar),
body header md-toolbar {
  background-color: #3b3b3b;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

body md-progress-linear,
body md-progress-linear .md-container {
  height: 2px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.md-button.md-primary.md-raised,
.md-button.md-primary.md-raised:not([disabled]).md-focused {
  background: #676767;
}
.md-button.md-primary.md-raised[disabled],
.md-button.md-primary.md-raised[disabled]:hover{
  background: #9C9C9C;
}
.md-button.md-primary.md-raised:hover {
  background-color: #3b3b3b!important;
}
.home-whiteframe .md-button i,
.home-whiteframe .md-button span {
  vertical-align: middle;
  margin: 0 0.2em;
}

md-whiteframe {
  background-color: #fafafa;
}
md-list.users-list {
  overflow-y: scroll;
  padding: 0;
  border: 1px solid rgba(0,0,0,0.12);
  height: 43.5em;
}
.users-list md-list-item h3:last-of-type {
  margin-right: 1em;
}
.users-list form md-input-container input[readonly]{
  cursor: none;
  pointer-events: none;
}
.users-list form md-input-container input{
  border-color: #757373;
}
.users-list md-input-container {
  margin: 2px 0;
}
.selected md-list-item{
  background-color: rgba(158,158,158,0.2);
}
.selected.expanded md-list-item {
  background-color: rgba(158,158,158,0.4);

}
md-list-item h5,
md-list-item h6 {
  line-height: 1em;
  margin: 0.5em 0 0 0;
}
md-divider.white {
  border-top-color: #ffffff;
}
.users-control md-button {
  text-align: center;
}

.user-whiteframe {
  margin-top: 1em;
}

.user-whiteframe h3{
  text-align: center;
}

/*menu list*/

.menu-list {
  color: #fff;
}

/*
animation:*/

.slideDown.ng-hide {
  height:0;
  transition:height 0.35s ease;
  overflow:hidden;
  position:relative;
}
.slideDown {
  transition:height 0.35s ease;
  overflow:hidden;
  position:relative;
  height: 28em;
}
.expandcollapse-item.expanded {
  background-color: rgba(158,158,158,0.2);
}
.expand-collapse-content {
  background-color: transparent;
}
.slideDown.ng-hide-remove,
.slideDown.ng-hide-add {
  /* remember, the .hg-hide class is added to element
  when the active class is added causing it to appear
  as hidden. Therefore set the styling to display=block
  so that the hide animation is visible */
  display:block!important;
}
.slideDown.ng-hide-add {
  animation-name: hide;
  -webkit-animation-name: hide;

  animation-duration: .5s;
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}
.slideDown.ng-hide-remove {
  animation-name: show;
  -webkit-animation-name: show;

  animation-duration: .5s;
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}
